*{
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100%;
    font-size: 14px;
    color: #615b5b;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}
.container--img-gallery{
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    width: 90%;
}

.container--img{
    position: relative;
    margin: 2rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    object-fit: contain;
    width: 250px;
    height: 250px;
    filter: opacity(0.85);
    border: 1px dotted #fff;

    transition: all 200ms;
    cursor: pointer;
}

.container--img img{
    height: 100%;
}

.container--img:nth-child(n):hover{
    transform: scale(1.05);
}

.img--title{
    position: absolute;
    bottom: -20px;

}

h2{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    line-height: 2.75rem;
}

div > span{
    margin-right: 1rem;
    padding: 0.25rem;
    background-color: #615b5b;
    color: #ffffff;
    border-radius: 5px;
}

header{
    height: 25vh;
    position: relative;
    margin-bottom: 2rem;

}

h1{
    position: absolute;
    font-family: 'Sacramento', cursive;
    color: white;
    font-size: 5rem;
    transform: rotate(-20deg);
    text-shadow: 2px 2px 2px #615b5b;
    top: -12%;
    left: 3.5%;
}

.h1__span{
    position: absolute;
    top: 40%;
    left: -40%;
    z-index: 100;
    transform: rotate(5deg);
    color: #92856e;
}

.img--logo{
    position: absolute;
    height: 500px;
    top: -100%;
    left: -8%;
}

.rotate {

    animation: rotation 60s infinite linear;
  }

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media only screen and (max-width: 1500px) {
    header{
        margin-bottom: 7rem;
    }
}

@media only screen and (min-width: 1500px) {
    .img--logo{
        top: -80%;
        left: -6%;
    }
}